.App {

}

.animation, .animation_layer {
	height: 100%;
	width: 100%;
}

.animation {
  display: block;
	position: relative;
	z-index: 10;
background-color: #0c0d1f;
}

.animation_layer {
	background-position: bottom center;
	width: 100%;
	position: absolute;
}
.animation_layer.parallax {
	position: fixed;
}

#back {
	background-image: url(./Images/back.png);

  }
#three{
  background-image: url('./Images/3rdlayer.png');
}
#two{
  background-image: url('./Images/2ndlayer.png');
}
#one {

  background-image: url('./Images/1stlayer.png');
}

#secpage {
	background-color: #0c0d1f;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Test {
	background-color: #191B40	;
	height: 50rem;
	width: 80rem;
	opacity: 0.5;
	border-radius: 20px;		
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
}
.Test #butdiv {
	margin: 0 auto;
	height: auto;
	position: relative;
	justify-content: center;
	align-items: center;
}

.Test .para1 #paratext{
	justify-content: center;
	padding-left: 10%;
	padding-right: 10%;
	font-size: 30px;
}

.Test .Heading {
	padding-top:5%;
	font-size: 50px;
}


.Test .carddiv {
	margin-top: 1em;
	height: 23rem;
	width: 40rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.Test .carddiv #card1 {
	background-color: #384e7c;																	
	height: 98%;
	width: 40%;		
	margin-right: 20px;
	border-radius: 20px;
}


#card2 {
	background-color: #384e7c;	
	height: 98%;
	width: 40%;
	border-radius: 20px;
}
.button1 {
	background-color: #4c74af; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	border-radius: 20px;
  }

.tryhead {
	font-size: 25px;
	margin-bottom: 10px;
}

.slide-panel {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 10px;
	background: linear-gradient( rgba(152,218,247,1) 0%, rgba(91,161,192,1) 50%, rgba(16,92,126,1) 100%);
	overflow: hidden;
	transition: height 0.3s ease-out;
	z-index: 999;
	opacity: 84.4%;
  }

  .slide-panel.open {
	height: 100vh;
  }
  
  .panel-content {
	padding: 20px;

  }


  .buttonsdiv 
  {margin: 0 auto;
	display: flex;
	flex-direction: row;	
	height: 200px;
	width: 300px;
	margin-top: 40rem;
  }
  #openclosebutton {	
	background-image: url(./Images/openclosebutton.png);
	height: 100px;
	width: 100px;
  }

  #fibutton {
	background-image: url(./Images/icon.png);
	height: 100px;
	width: 100px;
	margin-top: 4rem;
	margin-bottom: 10rem;
  }

  #sibutton {
	background-image: url(./Images/icon.png);
	height: 100px;
	width: 100px;
	margin-bottom: 1rem;
  }

  #tibutton {
	background-image: url(./Images/icon.png);
	height: 100px;
	width: 100px;
	margin-top: 4rem;
	margin-bottom: 10rem;
  }

  .profile {	
	transform: scale(1);
	height: 5.2vw;
	background-image: url(./Images/profile.png);
	background-repeat: no-repeat;
	width:5.3vw;
	position: fixed;
	z-index: 998;
	top: 10px;
	right: 10px;
  }

  .finderbar {
	z-index: 998;
	height: 15rem;
	width: 3.5rem;
	background-image: url(./Images/finderbar.png);
	position: fixed;
	bottom: 30px;
	right: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
  }

  .findersubbar {
	display: flex;
	flex-direction: column;
	margin-top: 1.5em;

	height: 12rem;
	width: 3.5rem;
	justify-content: center;
	align-items: center	;
  }

  #item1{
	display: flex;	
	justify-items: center;
	height: 33%;
	width: 3rem;
	margin: 0;
	align-items: center;
  }

  #item2{
	display: flex;	
	justify-items: center;
	height: 33%;
	width: 3rem;
	margin: 0;
	align-items: center;
  }

  #item3{
	display: flex;	
	justify-items: center;
	height: 33%;
	width: 3rem;
	margin: 0;
	align-items: center;	
  }

  #item1:hover {
	background-color: #49add8;
  }
  #item2:hover {
	background-color: #49add8;
  }
  #item3:hover {
	background-color: #49add8;
  }

  .findersubsubbar{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	height: 12rem;
	width: 1.5rem
  }

  #itemsub2{
	margin: 0 auto;
  }

  #itemsub3{
	margin: 0 auto;
  }

  #itemsub1{
	margin: 0 auto;
  }


  .Contextmenu {
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 996;
	background-color: #384e7c;
	width: 10rem;
	height: 3rem;
	border-radius: 10px;
	color: white;
  }

  .Contextmenu:hover {
	background-color: #191B40;
  }
  .menulist {
	list-style-type: none;
  }
  @media (max-width: 575.98px) {
	.buttonsdiv {
	  margin-bottom: 100;
	}
  }

.eventTitle{
	display: flex;
	font-size: 20px;
	justify-content: center;
}


.eventButtonFlex{
	display: flex;
	justify-content: center;
}
.eventButton{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #98daf7;
	height: 30px;
	width: 70px;
	border-radius: 20px;
}

.eventDescription {
	font-size: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}