.App {

}

.animation, .animation_layer {
	height: 100%;
	width: 100%;
}

.animation {
  display: block;
	position: relative;
	z-index: 10;
background-color: #0c0d1f;
}

.animation_layer {
	background-position: bottom center;
	width: 100%;
	position: absolute;
}
.animation_layer.parallax {
	position: fixed;
}

#back {
	background-image: url(./Images/back.png);

  }
#three{
  background-image: url('./Images/3rdlayer.png');
}
#two{
  background-image: url('./Images/2ndlayer.png');
}
#one {

  background-image: url('./Images/1stlayer.png');
}

#secpage {
	background-color: #0c0d1f;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Test {
	background-color: #191B40	;
	height: 50rem;
	width: 80rem;
	opacity: 0.5;
	border-radius: 20px;		
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
}
.Test #butdiv {
	margin: 0 auto;
	height: auto;
	position: relative;
	justify-content: center;
	align-items: center;
}

@media (max-width:500px) {
	.para1{
		width: 23rem;
	}
}

@media (max-width:400px) {
	.para1{
		width: 23rem;
	}
}

@media (max-width:450 ) and (max-height: 100){
	.carddiv{
		display: none;
	}
	#card1 {
		display: none;
	}
}


.Test .para1 #paratext{
	justify-content: center;
	padding-left: 10%;
	padding-right: 10%;
	font-size: 23px;
}

@media (max-width:470px) {
	.Test .para1 #paratext{
		font-size: 29		px;
	}
}

.Test .Heading {
	padding-top:5%;
	font-size: 50px;
}


.Test .carddiv {
	margin-top: 1em;
	height: 23rem;
	width: 40rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.Test .carddiv #card1 {
	background-color: #384e7c;																	
	height: 98%;
	width: 40%;		
	margin-right: 20px;
	border-radius: 20px;
}


#card2 {
	background-color: #384e7c;	
	height: 98%;
	width: 40%;
	border-radius: 20px;
}
.button1 {
	background-color: #4c74af; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	border-radius: 20px;
  }

.tryhead {
	font-size: 25px;
	margin-bottom: 10px;
}

.slide-panel {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 10px;
	background: linear-gradient( rgba(152,218,247,1) 0%, rgba(91,161,192,1) 50%, rgba(16,92,126,1) 100%);
	overflow: hidden;
	transition: height 0.3s ease-out;
	z-index: 999;
	opacity: 84.4%;
  }

  .slide-panel.open {
	height: 100vh;
  }
  




  #openclosebutton {	
	background-image: url(./Images/openclosebutton.png);
	height: 100px;
	width: 100px;
  }

  #fibutton {
	background-image: url(./Images/icon.png);
	height: 100px;
	width: 100px;
	margin-top: 4rem;
	margin-bottom: 10rem;
  }

  #sibutton {
	background-image: url(./Images/icon.png);
	height: 100px;
	width: 100px;
	margin-bottom: 1rem;
  }

  #tibutton {
	background-image: url(./Images/icon.png);
	height: 100px;
	width: 100px;
	margin-top: 4rem;
	margin-bottom: 10rem;
  }

  .profile {	
	transform: scale(1);
	height: 5.2vw;
	background-image: url(./Images/profile.png);
	background-repeat: no-repeat;
	width:5.3vw;
	position: fixed;
	z-index: 998;
	top: 10px;
	right: 10px;
  }

  .finderbar {
	z-index: 998;
	height: 15rem;
	width: 3.5rem;
	background-image: url(./Images/finderbar.png);
	position: fixed;
	bottom: 30px;
	right: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
  }

  .findersubbar {
	display: flex;
	flex-direction: column;
	margin-top: 1.5em;

	height: 12rem;
	width: 3.5rem;
	justify-content: center;
	align-items: center	;
  }

  #item1{
	display: flex;	
	justify-items: center;
	height: 33%;
	width: 3rem;
	margin: 0;
	align-items: center;
  }

  #item2{
	display: flex;	
	justify-items: center;
	height: 33%;
	width: 3rem;
	margin: 0;
	align-items: center;
  }

  #item3{
	display: flex;	
	justify-items: center;
	height: 33%;
	width: 3rem;
	margin: 0;
	align-items: center;	
  }

  #item1:hover {
	background-color: #49add8;
  }
  #item2:hover {
	background-color: #49add8;
  }
  #item3:hover {
	background-color: #49add8;
  }

  .findersubsubbar{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	height: 12rem;
	width: 1.5rem
  }

  #itemsub2{
	margin: 0 auto;
  }

  #itemsub3{
	margin: 0 auto;
  }

  #itemsub1{
	margin: 0 auto;
  }


  .menulist {
	list-style-type: none;
  }


.eventTitle{
	display: flex;
	font-size: 20px;
	justify-content: center;
}


.eventButtonFlex{
	display: flex;
	justify-content: center;
}
.eventButton{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #98daf7;
	height: 30px;
	width: 70px;
	border-radius: 20px;
}

.eventDescription {
	font-size: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.context-menu{
	position: fixed; /* Sit on top of the page content *//* Hidden by default */
	width: 300px; /* Full width (cover the whole page) */
	height: fit-content; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: white;
	background-color: rgba(45, 28, 75, 0.918); /* Black background with opacity */
	z-index: 998; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer;
	padding: 10px; /* Add a pointer on hover */
	border-radius: 10px;
}
.context-menu-input {
	margin-left: 20px
}

.context-menubuttons{
	display: flex;
	justify-content: center;
	padding: 2px;
}
.context-menu-item{
	display: flex;
	justify-content: center;
	padding: 2px;
	align-items: center;
	border-radius: 20px;
	flex:33.3%
}
.context-menu-item:hover{
	background-color: rgba(73, 47, 117, 0.918);
}

.pullup {
	justify-content: center;
}

.buttonsdiv 
{
  display: flex;	
  width: 100px;
  margin-top: 10rem;
}

.Profile-card-panel {
	height: 13rem;
	width: 25rem;
	background-color: white;
	border-radius: 20px;
	margin-bottom: 10%;
}

.panel-content {
	margin-top: 2%;
	padding: 20px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }

  @media (max-width: 575.98px) {
	.buttonsdiv {
		margin-top: 20rem;
	}
  }

#card1 #card1title{
	padding: 5px;
	display: flex;
	justify-content: center;
	font-size: 20px;
}

#card2 #card2title{
	display: flex;
	justify-content: center;
	padding: 5px;
	font-size: 20px;
}
.buttonalign1 {
	display: flex;
	justify-content: center;
}

.App {
}

body{
  background-color: #251414 ;
  margin: 0;
  padding: 0;
}

.Container{
	background-color: #191B40;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Card{
  height: 29rem;
  width: 40rem;
  border: 1px solid black;
  border-radius: 48px;
  background-color: #384e7c;
}

.Title {
  display: flex;
  color: white;
  height: 9rem;
  align-items: center;
  justify-content: center;
  font-size: 65px;
}

.Cardbody{
  padding: 10%;
  padding-top: 0;
}

.logintitle{
  color: white;
  display: flex;
  font-size: 30px;
  align-content: center;
  justify-content: center;
  margin: 0;
  margin-bottom: 20px;
}

.pwdflex {
  margin-top: 20px;
}
#labeluser{
  font-size: 30px;
  color: white;
  margin-left: 4px;
}

#inputuser{
  margin-left: 20px;
  width: 330px;  
  height: 1.5em;
  font-size: 25px;
  border-radius: 10px;
}


#labelpwd{
  font-size: 30px;
  color: white;
  margin-left: 10px;
}

#inputpwd{
  margin-left: 20px;
  height: 1.5em;
  font-size: 25px;
  width: 330px;  
  border-radius: 10px;  
}

.buttonalign{
  display: flex;
  justify-content: center;
  width: auto;
  margin-top: 10px;
}

.loginbutton{
  height:4rem;
  width: 10rem;
  font-size: 20px;
  border-radius: 10px;

}

@media (max-width: 575.98px) {
  .Card{
    height: 32rem;
  }
}
.inputpwd{
	
}